body {
  margin: 0;
  padding: 0;
}
body p, body a, body div {
  font-family: "Open Sans", sans-serif;
}
body h2, body h3, body h4, body h5, body h6 {
  font-family: "Ubuntu", sans-serif;
  color: #333;
}

nav {
  margin-top: 25px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}
nav ul {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
nav li {
  display: inline-block;
  text-decoration: none;
  margin-right: 40px;
  color: #333;
}
nav li:last-child {
  margin-left: auto;
}
nav a {
  text-decoration: none;
  color: #333;
}
nav a:hover {
  color: #7a7a7a;
}
nav .logo {
  height: 60px;
  margin-left: 20px;
}

.toggleButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: #ff84a8;
  border-radius: 10px;
}

.row {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

header {
  background-color: #ffbfd2;
  margin: 0;
  padding: 0;
  height: 60vh;
  width: 100%;
  color: white;
}
header h1 {
  font-family: "Permanent Marker", cursive;
}
header p {
  padding-bottom: 15px;
  max-width: 420px;
}
header .col {
  margin-top: 35px;
  width: 70%;
}
header .col + .cupcake {
  margin-left: 60px;
}
header .cupcake > img {
  display: block;
  margin: 0 auto;
}
header .primaryBtn:hover {
  background-color: #ff6e9a;
}

.cupcake img {
  max-width: 400px;
}

.wave {
  background-image: url("./images/pinkwave.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  margin-top: -10px;
}

main {
  margin-top: -20px;
  width: 90%;
  height: 70vh;
}
main h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
}
main p {
  padding-bottom: 10px;
}
main .row {
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;
}
main .textCol {
  width: 400px;
}
main .imageCol {
  width: 900px;
}

.imageRow {
  display: flex;
}
.imageRow .imageContainer {
  margin-right: 15px;
}

.hoverImage {
  opacity: 1;
  display: block;
  width: auto;
  height: 400px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imageContainer {
  position: relative;
  margin: 0 auto;
  background-color: black;
  border: 0;
}

.hoverContent {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 200px;
}

.hoverText {
  color: white;
}

.imageContainer:hover .hoverImage {
  opacity: 0.5;
}

.imageContainer:hover .hoverContent {
  opacity: 1;
}

.primaryBtn {
  background-color: #ff84a8;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  letter-spacing: 1.5px;
  box-shadow: 0px 8px 15px #f59eb8;
}

.primaryBtn:hover {
  background-color: #ffbfd2;
}

@media screen and (max-width: 960px) {
  .toggleButton {
    display: flex;
    margin-top: 32px;
  }

  nav {
    flex-direction: column;
    margin-top: 20px;
  }
  nav .logo {
    width: 250px;
    margin-left: 8px;
  }
  nav ul {
    flex-direction: column;
    display: none;
    width: auto;
  }
  nav li {
    text-align: center;
    padding: 2px;
  }
  nav .active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: -30px;
  }
  nav li:last-child {
    margin-left: 0;
  }

  .wave {
    width: auto;
  }

  .col + .cupcake {
    display: none;
  }

  header .col {
    margin-top: 5px;
  }
  header p {
    width: auto;
  }
  header .row {
    width: 90%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1124px) {
  header .col + .cupcake {
    display: block;
  }
}
@media screen and (max-width: 280px) {
  nav .logo {
    width: 200px;
    height: 45px;
  }
  nav .toggleButton {
    margin-top: 25px;
  }

  body {
    font-size: 0.9rem;
  }
}
@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.1rem;
  }
}
@media (min-width: 1500px) {
  header {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
