//Fonts and font styles
$font-color: #333;
$grey: rgb(122, 122, 122);
$open-sans: "Open Sans", sans-serif;
$permanent-marker: "Permanent Marker", cursive;
$ubuntu: "Ubuntu", sans-serif;
// Theme Colors
$pink: #ff84a8;
$light-pink: #ffbfd2;
$dark-pink: #ff6e9a;

*, *:before, *:after {
  box-sizing:border-box;
  scroll-behavior: smooth;
} 

body {
  margin: 0;
  padding: 0;

  p,
  a,
  div, label, input, button, textarea {
    font-family: $open-sans;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $ubuntu;
    color: $font-color;
  }

  button {
    border: none;
  }
}

//Nav

nav {
  margin-top: 25px;
  display: flex;
  font-family: $open-sans;
  margin-bottom: 10px;

  ul {
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  li {
    display: inline-block;
    text-decoration: none;
    margin-right: 40px;
    color: $font-color;
  }

  li:last-child {
    margin-left: auto;
  }

  a {
    text-decoration: none;
    color: $font-color;
  }

  a:hover {
    color: $grey;
  }

  .logo {
    height: 60px;
    margin-left: 20px;
  }
}

.toggleButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  .bar {
    height: 3px;
    width: 100%;
    background-color: $pink;
    border-radius: 10px;
  }
}
.row {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

//header

header {
  background-color: $light-pink;
  margin: 0;
  padding: 0;
  height: 60vh;
  width: 100%;
  color: white;

  h1 {
    font-family: $permanent-marker;
  }

  p {
    padding-bottom: 15px;
    max-width: 420px;
  }

  .col {
    margin-top: 35px;
    width: 70%;
  }

  .col + .cupcake {
    margin-left: 60px;
  }

  .cupcake > img {
    display: block;
    margin: 0 auto;
  }

  .primaryBtn:hover {
    background-color: $dark-pink;
  }
}

.cupcake img {
  max-width: 400px;
}

.wave {
  background-image: url("./images/pinkwave.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  margin-top: -10px;
}

//IntroContainer

.introContainer {
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 80px;
  height: auto;

  h3 {
    color: white;
    font-family: $open-sans;
  }

  p {
    padding-bottom: 10px;
  }

  .row {
    margin-bottom: 50px;
    justify-content: center;
    width: 80%;
  }
}

.imageRow {
  display: flex;

  .imageContainer {
    margin-right: 15px;
  }
}

//hoverboxes
.hoverImage {
  opacity: 1;
  display: block;
  width: 266px;
  height: 400px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imageContainer {
  position: relative;
  margin: 0 auto;
  background-color: black;
  border: 0;
}

.hoverContent {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 200px;
}

.hoverText {
  color: white;
}

.imageContainer:hover .hoverImage {
  opacity: 0.5;
}

.imageContainer:hover .hoverContent {
  opacity: 1;
}


//Hero Banner!
.heroBanner {
  color: white;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('./images/cater.jpg');
  min-height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 80px;

  h2 {
    font-size: 50px;
    color: white;
  }
  .row {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 90px;
  }
}

//Contact Container 
.contactContainer {
  margin-bottom: 80px;
  img {
    width: 100%;
    height: auto;
    max-width: 450px;
    box-shadow: 12px 12px 2px 1px $light-pink;
  }

  .row {
    width: 80%;
  }

  .col {
    margin: 0 auto;
  }
}

//Form Elements
input, textarea {
  padding: 8px;
  margin: 10px 0px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  width: 200px; 
  box-shadow:0 0 15px 4px rgba(0,0,0,0.03);
}

label {
  display: block;
}

.nameAndEmail {
  display: flex;

  input {
    display: block;
  }

  div:first-child {
    padding-right: 5px;
  }
}

textarea {
  width: 405px;
}

form button {
  display: block;
}

// Buttons

.primaryBtn {
  background-color: $pink;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  letter-spacing: 1.5px;
  box-shadow: 0px 8px 15px #f59eb8;
  text-transform:uppercase;
}

.primaryBtn:hover {
  background-color: $light-pink;
}

//Mobile

@media screen and (max-width: 960px) {
  .toggleButton {
    display: flex;
    margin-top: 32px;
  }

  nav {
    flex-direction: column;
    margin-top: 20px;

    .logo {
      width: 250px;
      margin-left: 8px;
    }

    ul {
      flex-direction: column;
      display: none;
      width: auto;
    }

    li {
      text-align: center;
      padding: 2px;
    }

    .active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
      margin-left: -30px;
    }

    li:last-child {
      margin-left: 0;
    }
  }

  .wave {
    width: auto;
  }

  .col + .cupcake {
    display: none;
  }

  header {
    .col {
      margin-top: 5px;
    }

    p {
      width: auto;
    }
    .row {
      width: 90%;
    }
  }

  //IntroContainer
  .introContainer {
    width: auto;
    .row {
      flex-direction: column;
    }

    .imageRow {
      flex-direction: column;
      width: 280px;
      margin: 0 auto;
      margin-top: -50px;
    }

    .col3 {
      margin-top: 10px;
    }
  }

  //heroBanner 
  .heroBanner {
    min-height: 70vh;
    .row {
      padding-top: 20px;
    }

    h2 {
      font-size:1.7em;
    }
  }


  //contactContainer 
  .contactContainer {
    .row {
      flex-direction: column;
    }
    .nameAndEmail {
      flex-direction:column;
    }

    input, textarea {
      width: 300px;
    }

    .col:first-child {
      margin-bottom: 50px;
    }
  }
  
}

//iPhone 5 only:
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2)
 {
  header {
    height: 77vh;
  }
}

// Galaxy Fold:
@media screen and (max-width: 280px) {
  nav {
    .logo {
      width: 200px;
      height: 45px;
    }
    .toggleButton {
      margin-top: 25px;
    }
  }

  body {
    font-size: 0.9rem;
  }

  .contactContainer {
    input, textarea {
      width: 200px;
    }
  }
  .introContainer {
    .hoverImage {
      width:209px;
      height:300px;
    }
    .imageRow {
      width: auto;
    }
  }
  
}
@media screen and (max-width:1377px) and (min-width: 975px) {
  .introContainer {
    .row {
      flex-wrap:wrap;
    }
  }
}


//iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1124px) {
  header {
    .col + .cupcake {
      display: block;
    }
  }

  .introContainer {
    .imageRow {
      flex-direction: row;
      width: auto;
    }

    .hoverImage {
      width:auto;
      height:300px;
    }
  }

  .heroBanner {
    padding-top: 40px;
  }

  .contactContainer {
    input, textarea {
      width: 410px;
    }
  }
}

/* PORTRAIT MODE ONLY IPAD */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    header {
      height: 40vh;
    }

    .wave {
      height: 30vh;
    }

    .contactContainer img {
      margin-left: 28px;
    }

    .heroBanner {
      min-height: 40vh;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    header {
      height: 40vh;
    }

    .wave {
      height: 30vh;
    }

    .contactContainer img {
      margin-left: 28px;
    }

    .heroBanner {
      min-height: 40vh;
    }

    .contactContainer {
      input, textarea {
        width: auto;
      }
    }
}



// Font Resizing

@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 960px) {
  body {
    font-size: 1.1rem;
  }
}

@media (min-width: 1500px) {
  header {
    font-size: 1.3rem;
  }
}
